
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALE */
.head-sx, .head-dx, .notific-sx {
    width: 100%;
    height: 85px;
}

body {
    background-color: rgb(104, 104, 104);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 80%;
    height: 750px;
    background: red;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

/* COLONNE */
.col-sx {
    width: 35%;
    height: 100%;
    background-color: grey;
}

.col-dx {
    width: 65%;
    height: 100%;
    background-color: green;
}



/* NOME UTENTE */
.head-sx {
    background-color: #eaeaea;
    border-right: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
}

.utente-sx {
    padding: 10px;
    display: flex;
    align-items: center;
}

.utente-sx img {
    width: 65px;
    border-radius: 50px;
    margin-right: 10px;
}

.utente-dx {
    padding: 20px;
    display: flex;
    align-items: center;
}

.utente-dx i {
    margin: 0px 7px;
    color: #b1b1b1;
    font-size: 30px;
}







/* NOTIFICHE */
.notific-sx {
    background-color: #8edafc;
}

/* RICERCA CONTATTI */
.searc-sx {
    width: 100%;
    height: 50px;
    background-color: #fafafa;
}

/* ELENCO CONTATTI */
.contatti {
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}





.head-dx {
    background-color: #eaeaea;
}