
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* GENERALE */
.head-sx, .head-dx, .notific-sx {
    width: 100%;
    height: 85px;
}

body {
    background-color: rgb(104, 104, 104);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 1200px;
    height: 90vh;
    background: red;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}





/* COLONNE */
.col-sx {
    width: 400px;
    height: 100%;
    background-color: grey;
}

.col-dx {
    width: calc(100% - 400px);
    height: 100%;
    background-color: green;
}





/* NOME UTENTE */
.head-sx {
    background-color: #eaeaea;
    border-right: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
}

.utente-sx {
    padding: 10px;
    display: flex;
    align-items: center;
}

.utente-sx img {
    width: 65px;
    border-radius: 50px;
    margin-right: 10px;
}

.utente-dx {
    padding: 20px;
    display: flex;
    align-items: center;
}

.utente-dx i {
    margin: 0px 7px;
    color: #b1b1b1;
    font-size: 30px;
}




/* NOTIFICHE */
.notific-sx {
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.notific-sx i {
    font-size: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 90%;
    margin: 0px 10px;
    color: #8edafc;
}

.text-notif-sx a {
    display: block;
    color: #4f7485;
}





/* RICERCA CONTATTI */
.searc-sx {
    width: 100%;
    height: 60px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 10px;
}

.searc-sx form {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.searc-sx form i {
    color: #b6b9bf;
    font-size: 20px;
    margin: 0px 20px;
}

.searc-sx form input {
    width: 90%;
    height: 25px;
    border: none;
}





/* ELENCO CONTATTI */
.contatti {
    width: 100%;
    height: calc(100% - 170px - 60px);
    background-color: #ffffff;
    padding: 10px;
    overflow-y: scroll;
}

.elen-contact {
    border-bottom: 1px solid #f5f5f5;
}





/* COLONNA DESTRA */
.head-dx {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/* NOME UTENTE IN CONVERSAZIONE */
.text-utente span{
    color: #6b7376;
}

.icon-utente-dx {
    padding: 10px;
}

.icon-utente-dx i {
    margin: 0px 7px;
    color: #b1b1b1;
    font-size: 30px;
}




/* PARTE MESSAGGI GENERALI */
.mess-gen {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 85px - 85px);
    overflow-y: scroll;
    padding: 40px;
}



/* messaggi invitai */
.mess-inviati span, .mess-ricevuti span {
    width: 300px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
}

.mess-inviati span p, .mess-ricevuti span p {
    font-size: 10px;
    float: right;
    margin-top: 30px;
    color: #b1b1b1;
}

.mess-inviati {
    display: flex;
    flex-direction: column;
}

.mess-inviati span {
    background-color: rgb(188, 245, 188);
    margin-left: auto; 
}

.mess-ricevuti {
    display: flex;
    flex-direction: column;
}

.mess-ricevuti span {
    background-color: white;
}








 /* FORM MESSAGGI DA INVIARE  */
.form-inv form {
    width: 100%;
    height: 85px;

    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.form-inv form i {
    font-size: 30px;
    color: #6b7376;
    margin: 0px 20px;
}

.form-inv form input {
    width: 85%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}