
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALE */
.head-sx, .head-dx, .notific-sx {
    width: 100%;
    height: 85px;
}

body {
    background-color: rgb(104, 104, 104);
}

.container {
    width: 80%;
    height: 750px;
    background: red;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

/* COLONNE */
.col-sx {
    width: 35%;
    height: 100%;
    background-color: grey;
}

.col-dx {
    width: 65%;
    height: 100%;
    background-color: green;
}



/* NOME UTENTE */
.head-sx {
    background-color: #eaeaea;
    border-right: 1px solid #dedede;
}

/* NOTIFICHE */
.notific-sx {
    background-color: #8edafc;
}

/* RICERCA CONTATTI */
.searc-sx {
    width: 100%;
    height: 50px;
    background-color: #fafafa;
}

/* ELENCO CONTATTI */
.contatti {
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}





.head-dx {
    background-color: #eaeaea;
}